@font-face {
  font-family: "DungGeunMo";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "DungGeunMo";
  transition: 0.5s;
}

body {
  background-image: url(../img/pattern.png);
}

a {
  text-decoration: none;
  color: black;
}

ul,
li,
div,
p {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1 {
  color: #129fce;
}

.wrap {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner-wrap {
  width: 90%;
  height: 85%;
  display: flex;
}

/* left */

.left-wrap,
.left-outline,
.left-inner {
  height: 100%;
  border-radius: 20px;
}

.left-wrap {
  background-color: #129fce;
  width: 30%;
  padding: 0.5em 0 0.5em 0.5em;
}

.left-outline {
  border: dashed #f3f1f1;
  border-width: 2px 0 2px 2px;
  padding: 0.5em 0 0.5em 0.5em;
}

.left-inner {
  background-color: #f3f1f1;
  border: solid black;
  border-width: 1px 0 1px 1px;
}

.profile-wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.profile-wrap,
.profile-today,
.main,
.profile-img {
  border: 2px solid #bbb9b9;
  border-radius: 5px;
}

.profile-img {
  background-color: #fefbe9;
  box-shadow: 0 0 5px;
}

.profile-content {
  border: solid #bbb9b9;
  border-width: 1px 0;
}

.subject,
.title-typing {
  height: 5%;
}

.profile-wrap,
.main {
  height: 95%;
}

@keyframes blink-effect {
  50% {
    opacity: 0.5;
  }
}

.blinkText {
  animation: blink-effect 1s step-end infinite;
}

/* right */

.right-wrap,
.right-outline,
.right-inner {
  height: 100%;
  border-radius: 20px;
}
.right-wrap {
  background-color: #129fce;
  width: 70%;
  padding: 0.5em 0.5em 0.5em 0;
}

.right-outline {
  border: dashed #f3f1f1;
  border-width: 2px 2px 2px 0;
  padding: 0.5em 0.5em 0.5em 0;
}

.right-inner {
  background-color: #f3f1f1;
  border: solid black;
  border-width: 1px 1px 1px 0;
}

.main {
  overflow: scroll;
}

.about,
.skills,
.project,
.contact {
  margin: auto;
  margin-bottom: 3em;
  width: 95%;
  border: 1px solid red;
}

/* about */

.about-top {
  align-items: center;
}

.about-top img {
  width: 80%;
  border-radius: 100%;
}

.about-bottom h3 {
  margin-bottom: 0.5em;
}

.github,
.notion {
  background-color: #129fce;
  border-radius: 20px;
}

.github:hover,
.notion:hover {
  cursor: pointer;
  opacity: 0.5;
}

.about-bottom img {
  width: 2em;
}

/* skills */

.main-skills-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.once-skills-box {
  display: flex;
  justify-content: center;
}

/* project */

.project-cards {
  position: relative;
  border-radius: 10px;
}

.project-cards img {
  border-radius: 10px;
  width: 100%;
  height: 100%;
}

.card-hover-text {
  background-color: rgb(0, 0, 0, 0.7);
  border-radius: 10px;
  width: 90%;
  height: 90%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 2em;
  font-weight: bolder;
  line-height: 10em;
  color: white;
  display: none;
}

.project-cards:hover {
  cursor: pointer;
  box-shadow: 0 0 10px;
}

.project-cards:hover .card-hover-text {
  display: block;
}
