* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("../img/pattern.png");
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

#container {
  width: 90%;
  height: 80%;
  margin: 60px auto;
  border-radius: 10px;
  background-color: #4ea5c5;
  position: relative;
}

#wrapper {
  border: 2px dashed white;
  width: 98%;
  height: 96%;
  position: absolute;
  left: 1%;
  top: 2%;
  border-radius: 10px;
}

#main-page {
  width: 98%;
  height: 96%;
  position: absolute;
  left: 1%;
  top: 2%;
  border-radius: 10px;
  background-color: #E0E0E0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.section {
  border: 1px solid black;
  height: 95%;
  border-radius: 10px;
  background-color: #fffdfd;
}

.left-section {
  width: 25%;
}

.right-section {
  width: 70%;
}

.main-img {
  border: 1px solid red;
  width: 90%;
  height: 60%;
  margin: 10px auto;
  background-image: url(../img/adiantum.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px;
}