@font-face {
  font-family: 'DungGeunMo';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: black;
}

ul,
li {
  list-style: none;
}

body {
  background-image: url(../img/pattern.png);
}

#container {
  font-family: 'DungGeunMo';
  width: 100%;
  height: 100vh;
  display: flex;
}

#wrapper {
  width: 90%;
  height: 90%;
  margin: auto;
  display: flex;
}



/* left */
.left-wrapper {
  border: solid black;
  border-width: 2px 0 2px 2px;
  background-color: #129FCE;
  width: 25%;
  display: flex;
  justify-content: right;
  align-items: center;
  border-radius: 10px;
}

.left-outline {
  border: dashed white;
  border-width: 2px 0px 2px 2px;
  width: 95%;
  height: 95%;
  border-radius: 10px;
  display: flex;
  justify-content: right;
  align-items: center;
}

.left-section {
  background-color: #f3f1f1;
  width: 98%;
  height: 98%;
  border-radius: 10px;
  margin-right: 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.title {
  width: 95%;
  margin-top: 20px;
}

.profile {
  width: 95%;
  border: 1px solid #bbb9b9;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
}

.profile-img img {
  width: 100%;
  height: 350px;
  border-radius: 10px;
  overflow: hidden;
}

.profile-img p {
  border: 1px solid #bbb9b9;
  border-radius: 5px;
  margin-top: 10px;
}

.profile-content {
  border: solid #bbb9b9;
  border-width: 1px 0;
}

.profile-content p {
  margin: 10px 0;
}

@keyframes blink-effect {
  50% {
    opacity: 0.5;
  }
}

.blinkText {
  animation: blink-effect 1s step-end infinite;
}

.blog-link {
  margin-top: 10px;
}

.blog-link img {
  width: 45px;
  margin: 0 10px;
}

.blog-link img:hover {
  opacity: 0.5;
  transition: 0.3s;
}



/* right */
.right-wrapper {
  border: solid black;
  border-width: 2px 2px 2px 0;
  background-color: #129FCE;
  width: 75%;
  display: flex;
  justify-content: left;
  align-items: center;
  border-radius: 10px;
}

.right-outline {
  border: dashed white;
  border-width: 2px 2px 2px 0px;
  width: 98%;
  height: 95%;
  border-radius: 10px;
  display: flex;
  align-items: center;
}

.right-section {
  background-color: #f3f1f1;
  width: 99%;
  height: 98%;
  border-radius: 10px;
  margin-left: 2px;
  position: relative;
}

.navBtn {
  width: 80px;
  position: absolute;
  right: -80px;
  top: 10%;
}

.navBtn ul {
  padding: 0;
}

.navBtn ul li {
  border: solid black;
  border-width: 2px 2px 2px 0;
  background-color: #129FCE;
  width: 100%;
  color: white;
  margin-bottom: 2px;
}

.navBtn ul li:hover {
  background-color: #f3f1f1;
  color: black;
}

.profile-typing {
  margin-top: 20px;
  margin-left: 25px;
  color: #129FCE;
  font-size: 20px;
}


/* main content */
.main-content {
  border: 1px solid #bbb9b9;
  border-radius: 10px;
  width: 95%;
  height: 90%;
  margin: auto;
  overflow: scroll;
  position: relative;
}

.main-content h1 {
  text-align: center;
}

.aboutWrap,
.skillsWrap,
.projectWrap {
  width: 85%;
  margin: auto;
}


.character {
  height: 300px;
  margin: auto;
  background-image: url(../img/miniroom.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  border-radius: 10px;
  border: 2px solid #bbb9b9;
  box-shadow: 0 0 5px;
}

.character img {
  width: 100px;
  position: absolute;
  left: 40%;
  top: 50%;
}



.infoWrap {
  display: flex;
  margin: 20px auto 100px;
}

.info {
  width: 50%;
}

.infoWrap li {
  display: flex;
  margin: 20px 0 20px 30px;
}

.infoWrap li strong {
  width: 40%;
}


/* skill */
.skills-box {
  display: flex;
  margin: 10px 30px;
}

.skills-box li img {
  margin-right: 10px;
  width: 100px;
  height: 30px;
}


@media(max-width : 1025px) {
  #wrapper {
    width: 80%;
  }

  .infoWrap {
    flex-direction: column;
    align-items: center;
  }

  .infoWrap ul {
    padding: 0;
    width: 300px;
  }

  .infoWrap ul li {
    margin: 0;
  }
}


@media(max-width : 769px) {

  #wrapper {
    flex-direction: column;
  }

  .left-wrapper,
  .right-wrapper {
    width: 100%;
    border: 2px solid black;
  }

  .left-outline,
  .right-outline {
    border: 2px dashed white;
    width: 95%;
    margin: 10px auto;
    height: auto;
  }

  .left-section,
  .right-section {
    width: 98%;
    margin: 10px auto;
  }
}


@media(max-width : 426px) {
  #wrapper {
    margin: 0;
    width: 100%;
  }

  .navBtn {
    display: none;
  }

  .profile-typing {
    margin: 10px;
    font-size: 19px;
  }

  .infoWrap {
    display: inline-block;
  }

  .profile,
  .main-content {
    margin: 10px auto;
  }

  .skillsWrap {
    border: 1px solid red;
  }

  .skills-box {
    border: 1px solid blue;
    margin: 10px 0;
    padding: 0;
  }

  .skills-box li img {
    width: 70px;
  }
}