@font-face {
  font-family: "DungGeunMo";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "DungGeunMo";
  scroll-behavior: smooth;
  transition: 0.5s;
}

body {
  background-image: url(../img/pattern.png);
}

a {
  text-decoration: none;
  color: black;
}
a:hover {
  color: black;
}

ul,
li,
div,
p,
h1,
h3,
h4,
h5 {
  list-style: none;
  margin: 0;
  padding: 0;
}

.wrap {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner-wrap {
  width: 85vw;
  height: 85vh;
  display: flex;
}
@media (max-width: 768px) {
  .inner-wrap {
    width: 100vw;
    height: 100vh;
    flex-direction: column;
  }
}

.left-wrap,
.left-outline,
.left-inner {
  height: 100%;
  border-radius: 20px;
}

.left-wrap {
  background-color: #129fce;
  width: 30%;
  padding: 0.5em 0 0.5em 0.5em;
}

.left-outline {
  border: dashed #f3f1f1;
  border-width: 2px 0 2px 2px;
  padding: 0.5em 0 0.5em 0.5em;
}

.left-inner {
  background-color: #f3f1f1;
  padding: 1em;
  text-align: center;
}

.profile-today,
.title-typing {
  height: 5%;
}

.profile-wrap,
.main {
  height: 95%;
  border: 1px solid #bbb9b9;
  border-radius: 10px;
  padding: 1em;
  display: flex;
  flex-direction: column;
}

.profile-wrap {
  justify-content: space-around;
}

.main {
  justify-content: space-between;
}

.profile-img {
  border-radius: 100%;
}
.profile-img img {
  width: 100%;
  border-radius: 100%;
}

.profile-content {
  padding: 1em;
  border: solid #bbb9b9;
  border-width: 1px 0;
}

@keyframes blink-effect {
  50% {
    opacity: 0.5;
  }
}
.blinkText {
  animation: blink-effect 1s step-end infinite;
  color: #129fce;
  font-weight: bolder;
}

.right-wrap,
.right-outline,
.right-inner {
  height: 100%;
  border-radius: 20px;
}

.right-wrap {
  width: 70%;
  background-color: #129fce;
  padding: 0.5em 0.5em 0.5em 0;
}

.right-outline {
  border: dashed #f3f1f1;
  border-width: 2px 2px 2px 0;
  padding: 0.5em 0.5em 0.5em 0;
}

.right-inner {
  background-color: #f3f1f1;
  border-width: 1px 1px 1px 0;
  padding: 1em;
  position: relative;
}

nav {
  position: absolute;
  right: -4.5em;
}
nav a {
  margin-bottom: 2px;
  width: 4.5em;
  border: solid black;
  border-width: 1px 1px 1px 0;
  height: 2.5em;
  background-color: #129fce;
  border-radius: 0 5px 5px 0;
  color: #f3f1f1;
  display: flex;
  align-items: center;
  padding: 0.5em;
}

.menu-box {
  display: flex;
  flex-direction: column;
}
@media (max-width: 768px) {
  .menu-box {
    display: none;
  }
}

.homeBtn {
  background-color: #f3f1f1;
  color: black;
}

.navbar-toggleBtn {
  display: none;
}
@media (max-width: 768px) {
  .navbar-toggleBtn a {
    width: 3em;
    height: 3em;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    border-width: 1px;
  }
}
@media (max-width: 768px) {
  .navbar-toggleBtn {
    display: block;
    position: absolute;
    right: 3.5em;
    top: 1em;
    width: 3em;
    height: 3em;
    border-radius: 100%;
  }
}

.home,
.about,
.skills,
.works,
.contact {
  padding: 1em 0 3em;
}
.home h1,
.about h1,
.skills h1,
.works h1,
.contact h1 {
  font-weight: bolder;
  margin-bottom: 1em;
  color: #129fce;
}

.main {
  overflow: scroll;
}

.title-text {
  width: 30em;
}
@media (max-width: 768px) {
  .title-text {
    width: 100%;
  }
}

.home {
  background-image: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
}
.home h5 {
  margin-bottom: 3em;
}
.home img {
  width: 13em;
}

.intro-content-box {
  width: 90%;
  margin: auto;
}
@media (max-width: 426px) {
  .intro-content-box h5 {
    font-size: 0.9em;
  }
}
@media (max-width: 426px) {
  .intro-content-box p {
    font-size: 0.5em;
  }
}

.about-wrap img {
  width: 1em;
}
.about-wrap h3 {
  margin-bottom: 1em;
}

.info {
  margin-top: 2em;
  display: flex;
  text-align: left;
  vertical-align: middle;
  padding-left: 8em;
}
.info div {
  margin-right: 0.5em;
}
.info h4 {
  color: #129fce;
}
@media (max-width: 768px) {
  .info {
    padding: 0;
    justify-content: center;
  }
}

.log-link:hover {
  color: #129fce;
}

.skills h5 {
  margin-bottom: 0.5em;
}

.main-skills-box,
.once-skills-box {
  width: 70%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto 3em;
}

.skill-content {
  width: 85%;
  margin: auto;
  display: flex;
  text-align: left;
  font-size: 0.9em;
}
.skill-content img {
  width: 1rem;
}
.skill-content div {
  margin-right: 5px;
}
@media (max-width: 426px) {
  .skill-content {
    font-size: 0.5em;
  }
}

.project-cards {
  position: relative;
  box-shadow: 0 0 10px;
  border-radius: 10px;
}
.project-cards img {
  width: 100%;
  height: 20em;
  border-radius: 10px;
}
.project-cards h5 {
  opacity: 0;
  background-color: rgba(18, 159, 206, 0.831372549);
  padding: 1.5em 0.5em;
  border-radius: 20px;
  color: #f3f1f1;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
.project-cards:hover {
  cursor: pointer;
  box-shadow: 0 0 20px;
}
.project-cards:hover .card-hover-title {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
}
.project-cards:hover img {
  opacity: 0.3;
}

.contact {
  background-image: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
}

.mail-btn {
  box-shadow: 0 0 5px;
}
.mail-btn:hover {
  background-color: #129fce;
  color: black;
}

@media (max-width: 768px) {
  .left-wrap,
  .right-wrap {
    width: 100vw;
  }
  .left-wrap,
  .left-outline,
  .left-inner,
  .right-wrap,
  .right-outline,
  .right-inner {
    padding: 0.5em;
    border-width: 1px;
  }
  .profile-img img {
    width: 15em;
    margin-bottom: 1em;
  }
}/*# sourceMappingURL=main.css.map */