@font-face {
  font-family: "DungGeunMo";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

$main-color: #129fce;
$inner-color: #f3f1f1;
$border-color: #bbb9b9;

@mixin element-default-val {
  list-style: none;
  margin: 0;
  padding: 0;
}

@mixin wrap-value {
  height: 100%;
  border-radius: 20px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "DungGeunMo";
  scroll-behavior: smooth;
  transition: 0.5s;
}

body {
  background-image: url(../img/pattern.png);
}

a {
  text-decoration: none;
  color: black;

  &:hover {
    color: black;
  }
}

ul,
li,
div,
p,
h1,
h3,
h4,
h5 {
  @include element-default-val();
}

.wrap {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner-wrap {
  width: 85vw;
  height: 85vh;
  display: flex;
  @media (max-width: 768px) {
    width: 100vw;
    height: 100vh;
    flex-direction: column;
  }
}

// left
.left-wrap,
.left-outline,
.left-inner {
  @include wrap-value();
}

.left-wrap {
  background-color: $main-color;
  width: 30%;
  padding: 0.5em 0 0.5em 0.5em;
}

.left-outline {
  border: dashed $inner-color;
  border-width: 2px 0 2px 2px;
  padding: 0.5em 0 0.5em 0.5em;
}

.left-inner {
  background-color: $inner-color;
  padding: 1em;
  text-align: center;
}

.profile-today,
.title-typing {
  height: 5%;
}

.profile-wrap,
.main {
  height: 95%;
  border: 1px solid $border-color;
  border-radius: 10px;
  padding: 1em;
  display: flex;
  flex-direction: column;
}

.profile-wrap {
  justify-content: space-around;
}

.main {
  justify-content: space-between;
}

.profile-img {
  border-radius: 100%;
  img {
    width: 100%;
    border-radius: 100%;
  }
}

.profile-content {
  padding: 1em;
  border: solid $border-color;
  border-width: 1px 0;
}

@keyframes blink-effect {
  50% {
    opacity: 0.5;
  }
}

.blinkText {
  animation: blink-effect 1s step-end infinite;
  color: $main-color;
  font-weight: bolder;
}

// right
.right-wrap,
.right-outline,
.right-inner {
  @include wrap-value();
}

.right-wrap {
  width: 70%;
  background-color: $main-color;
  padding: 0.5em 0.5em 0.5em 0;
}

.right-outline {
  border: dashed $inner-color;
  border-width: 2px 2px 2px 0;
  padding: 0.5em 0.5em 0.5em 0;
}

.right-inner {
  background-color: $inner-color;
  border-width: 1px 1px 1px 0;
  padding: 1em;
  position: relative;
}

// nav
nav {
  position: absolute;
  right: -4.5em;

  a {
    margin-bottom: 2px;
    width: 4.5em;
    border: solid black;
    border-width: 1px 1px 1px 0;
    height: 2.5em;
    background-color: $main-color;
    border-radius: 0 5px 5px 0;
    color: $inner-color;
    display: flex;
    align-items: center;
    padding: 0.5em;
  }
}

.menu-box {
  display: flex;
  flex-direction: column;
  @media (max-width: 768px) {
    display: none;
  }
}

.homeBtn {
  background-color: $inner-color;
  color: black;
}

.navbar-toggleBtn {
  display: none;

  a {
    @media (max-width: 768px) {
      width: 3em;
      height: 3em;
      border-radius: 100%;
      display: flex;
      justify-content: center;
      border-width: 1px;
    }
  }

  @media (max-width: 768px) {
    display: block;
    position: absolute;
    right: 3.5em;
    top: 1em;
    width: 3em;
    height: 3em;
    border-radius: 100%;
  }
}

.home,
.about,
.skills,
.works,
.contact {
  padding: 1em 0 3em;
  h1 {
    font-weight: bolder;
    margin-bottom: 1em;
    color: $main-color;
  }
}

// main
.main {
  overflow: scroll;
}

.title-text {
  width: 30em;
  @media (max-width: 768px) {
    width: 100%;
  }
}

// home
.home {
  background-image: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
  h5 {
    margin-bottom: 3em;
  }
  img {
    width: 13em;
  }
}

.intro-content-box {
  width: 90%;
  margin: auto;
  h5 {
    @media (max-width: 426px) {
      font-size: 0.9em;
    }
  }
  p {
    @media (max-width: 426px) {
      font-size: 0.5em;
    }
  }
}

// about
.about-wrap {
  img {
    width: 1em;
  }
  h3 {
    margin-bottom: 1em;
  }
}

.info {
  margin-top: 2em;
  display: flex;
  text-align: left;
  vertical-align: middle;
  padding-left: 8em;

  div {
    margin-right: 0.5em;
  }
  h4 {
    color: $main-color;
  }
  @media (max-width: 768px) {
    padding: 0;
    justify-content: center;
  }
}

.log-link:hover {
  color: $main-color;
}

// skill
.skills {
  h5 {
    margin-bottom: 0.5em;
  }
}
.main-skills-box,
.once-skills-box {
  width: 70%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto 3em;
}

.skill-content {
  width: 85%;
  margin: auto;
  display: flex;
  text-align: left;
  font-size: 0.9em;
  img {
    width: 1rem;
  }
  div {
    margin-right: 5px;
  }
  @media (max-width: 426px) {
    font-size: 0.5em;
  }
}

// project

.project-cards {
  position: relative;
  box-shadow: 0 0 10px;
  border-radius: 10px;
  img {
    width: 100%;
    height: 20em;
    border-radius: 10px;
  }

  h5 {
    opacity: 0;
    background-color: #129fced4;
    padding: 1.5em 0.5em;
    border-radius: 20px;
    color: $inner-color;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  &:hover {
    cursor: pointer;
    box-shadow: 0 0 20px;
  }

  &:hover .card-hover-title {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
  }

  &:hover img {
    opacity: 0.3;
  }
}

// contact
.contact {
  background-image: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
}

.mail-btn {
  box-shadow: 0 0 5px;

  &:hover {
    background-color: $main-color;
    color: black;
  }
}

@media (max-width: 768px) {
  .left-wrap,
  .right-wrap {
    width: 100vw;
  }

  .left-wrap,
  .left-outline,
  .left-inner,
  .right-wrap,
  .right-outline,
  .right-inner {
    padding: 0.5em;
    border-width: 1px;
  }
  .profile-img img {
    width: 15em;
    margin-bottom: 1em;
  }
}
