@font-face {
  font-family: "DungGeunMo";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "DungGeunMo";
  scroll-behavior: smooth;
}

body {
  background-image: url(../img/pattern.png);
}

ul,
li,
div,
p,
h1,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
  list-style: none;
}

.wrap {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner-wrap {
  width: 85vw;
  height: 85vh;
  display: flex;
}

.left-wrap,
.left-outline,
.left-inner,
.right-wrap,
.right-outline,
.right-inner {
  height: 100%;
  border-radius: 20px;
}

.left-wrap {
  width: 30%;
  background-color: #129fce;
  padding: 0.5em 0 0.5em 0.5em;
}

.right-wrap {
  width: 70%;
  background-color: #129fce;
  padding: 0.5em 0.5em 0.5em 0;
}

.left-outline {
  border: 2px dashed #f3f1f1;
  border-right-style: none;
  padding: 0.5em 0 0.5em 0.5em;
}

.right-outline {
  border: 2px dashed #f3f1f1;
  border-left-style: none;
  padding: 0.5em 0.5em 0.5em 0;
}

.left-inner {
  background-color: #f3f1f1;
  padding: 1em;
  text-align: center;
}

.right-inner {
  background-color: #f3f1f1;
  padding: 1em;
  position: relative;
}

@media (max-width: 768px) {
  .inner-wrap {
    width: 100vw;
    height: 100vh;
    flex-direction: column;
  }
  .left-wrap,
  .right-wrap {
    width: 100%;
    padding: 0.5em;
  }
  .left-outline,
  .right-outline {
    border: 2px dashed #f3f1f1;
    padding: 0.5em;
  }
}
.content-top {
  height: 5%;
}

.content-bottom {
  border: 1px solid #a0a0a0;
  border-radius: 5px;
  height: 95%;
  padding: 1em;
}

.home,
.about,
.skills,
.project,
.contact {
  padding: 2em 0;
}
.home h1,
.about h1,
.skills h1,
.project h1,
.contact h1 {
  font-weight: bolder;
  margin-bottom: 1em;
  color: #129fce;
}

.today {
  color: #129fce;
}

.profile-wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.profile-img img {
  width: 100%;
  border-radius: 100%;
}

.profile-content {
  border: double #a0a0a0;
  border-width: 3px 0;
  padding: 2em 0;
}

@media (max-width: 768px) {
  .profile-img img {
    width: 80%;
  }
  .profile-content {
    margin: 3em 0;
  }
}
@keyframes blink-effect {
  50% {
    opacity: 0.5;
  }
}
.blinkText {
  animation: blink-effect 1s step-end infinite;
  color: #129fce;
  font-weight: bolder;
}

nav {
  position: relative;
}

.menus {
  position: absolute;
  right: -5.5em;
}
@media (max-width: 768px) {
  .menus {
    display: none;
  }
}

.nav-btn {
  border: 1px solid black;
  border-radius: 0 5px 5px 0;
  border-left-style: none;
  width: 4.5em;
  height: 2.5em;
  margin-bottom: 2px;
  padding-left: 0.5em;
  display: flex;
  align-items: center;
  background-color: #129fce;
  color: #f3f1f1;
  cursor: pointer;
}
.nav-btn:first-child {
  background-color: #f3f1f1;
  color: black;
}

.sub-nav {
  position: fixed;
  right: 1em;
  top: 1em;
  z-index: 10;
}

.nav-toggleBtn,
.sub-nav-btn {
  border: 1px solid black;
  border-radius: 5px;
  background-color: #129fce;
  width: 4.5em;
  padding: 0.5em;
  color: #f3f1f1;
  cursor: pointer;
  text-align: center;
}

.nav-toggleBtn,
.sub-menus {
  display: none;
}

@media (max-width: 768px) {
  .nav-toggleBtn {
    display: block;
  }
}
.main {
  overflow: scroll;
  text-align: center;
}

.home {
  height: 100%;
  background-image: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.about {
  background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);
}

@media (max-width: 768px) {
  .about {
    height: auto;
  }
}
.info {
  margin-top: 4em;
  display: flex;
  justify-content: center;
  vertical-align: middle;
}
.info div {
  margin: 0 5px;
}

.log-link {
  margin-top: 4em;
  display: flex;
  justify-content: center;
}
.log-link div {
  background-color: rgba(18, 159, 206, 0.4666666667);
  border-radius: 10px;
  margin: 0 2em;
  width: 6em;
  padding: 0.5em;
  cursor: pointer;
}
.log-link div img {
  width: 35px;
}
.log-link div:hover {
  transform: scale(1.05);
}

.skills {
  background-image: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
}
.skills h5 {
  margin-bottom: 0.5em;
}

.main-skills-box,
.once-skills-box {
  width: 70%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto 3em;
}

.skill-content {
  width: 85%;
  margin: auto;
  display: flex;
  text-align: left;
  font-size: 0.9em;
}
.skill-content img {
  width: 1rem;
}
.skill-content div {
  margin-right: 5px;
}
@media (max-width: 426px) {
  .skill-content {
    font-size: 0.5em;
  }
}

.project {
  background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);
}

.project-card-wrap {
  padding: 0.5em;
}

.project-cards {
  position: relative;
  box-shadow: 0 0 10px;
  margin-bottom: 2em;
  transition: 0.3s;
  cursor: pointer;
}
.project-cards img {
  width: 100%;
  height: 20em;
}
.project-cards h5 {
  display: none;
  position: absolute;
}
.project-cards:hover {
  transform: scale(1.1);
  background-color: black;
}
.project-cards:hover img {
  opacity: 0.2;
}
.project-cards:hover .card-hover-title {
  display: block;
  animation: card 0.5s;
  animation-fill-mode: forwards;
  color: #f3f1f1;
  font-size: 1.5em;
}

@keyframes card {
  from {
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  to {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
.contact {
  background-image: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
}
.contact h5 {
  margin: 1em;
}

.mail-btn {
  box-shadow: 0 0 5px;
}
.mail-btn a {
  text-decoration: none;
  color: black;
}
.mail-btn:hover {
  transform: scale(1.13);
  transition: 0.3s;
}

.sunny-img {
  width: 1em;
}/*# sourceMappingURL=main.css.map */